body {
  font-family:Palatino Linotype;
  background-color:#BDBAB9;
}

h1 {
  color: black;
  text-align: center;
  border-style: groove;
}

h2 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
  font-size: 25px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  font-size: 20px;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  max-height: 300px;
  width: auto;
  height: auto;
}
